<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACI52e51Urf8wkse1-CoF49fmr0nZPVcw</string>
	<key>GCM_SENDER_ID</key>
	<string>374825957065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IntelligentSecuritySystems.intelligentSecuritySystems.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bms-1-102dc</string>
	<key>STORAGE_BUCKET</key>
	<string>bms-1-102dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374825957065:ios:356444cc656998978c3f18</string>
</dict>
</plist>